body {
    padding: 10vw;
    margin: 0;
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;
    background-image: url(./images/round-faded-lights-during-nighttime-158658.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    max-width:100%; 
    height:auto
  }



    #message-container {
      width: 80%;
      max-width: 1200px;
    }




    button:hover {   
        opacity: 0.7;   
    }   


    button {   
        background-color: #037482;  
        font-family: 'Oswald', sans-serif;
          height: 3vw;
         color: white;   
         width: 6vw;
         border: none;   
         cursor: pointer;  
         border-radius: 01vw; 
          }  